<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon"
		href="https://cdn.discordapp.com/attachments/791636167304151071/1156293994616197211/5479768.png?ex=65147233&is=651320b3&hm=ae8201adcd65ed61db91f3a0e469338c89f7ca388567949c6c48c578e2d28dd2&"
		type="image/png">

	<!--    Bootstrap-->
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/js/bootstrap.min.js">

	<!--    jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!--    Select 2-->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title>
		Bao Zi Recipe
	</title>