<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/js/bootstrap.min.js">
  <link rel="icon" href="https://cdn.discordapp.com/attachments/791636167304151071/1156293994616197211/5479768.png?ex=65147233&is=651320b3&hm=ae8201adcd65ed61db91f3a0e469338c89f7ca388567949c6c48c578e2d28dd2&" type="image/png">



	<link rel="stylesheet" href="/stylesheets/style.css" />
	<title>
		Bao Zi Recipe
	</title>